body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
h2{
    font-weight: 900;
}
h3 {
    font-weight: 900;
}
section {
    text-align: center;
}
#idx1{
    width: auto;
    margin-top: 200px;
}
#idx3 {
    background-color: #f6f6f6;
    margin: auto;
    margin-bottom: 20px;
    height: 500px;
    margin-right: -50%;
   
}
.img3{
    border-radius: 50px;
    width: 500px;
    
    margin-top: 50px;
    margin-left: 500px;
}

.img1{
    width: 100%;
}
button{
    border:none;
    background-color: rgb(66, 66, 66);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin-top: 50PX;
    
}
.footer{
    background-color: #4c4c4c;
    color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    margin-top: 50px; 
    text-align: center;
    
}
h1{
    font-family: 'Fredoka', sans-serif;
}
.prg{
    width: 500px;
    margin-top: 100px;
    position: absolute;
    text-align: center;  
}

.header{
    width:auto;
    display:flex;
    height: 86px;
   }
   
   .header h2 {
    margin-top: 20px;
    color: navy;
    font-weight: bold;
   }
   
   .nav{
   display: flex;
   justify-content: flex-end;
   /*width:calc(1200px - 30px);*/
   line-height: 86px;
   margin-left: 515px;
   
   }
   .nav > li {
   margin-left:60px;
   list-style: none;
   
   }
   
   .nav > li > a {
   color:rgb(0, 0, 0);
  
   }
   .nav > li > a:hover{
       color: rgb(136, 136, 136);
   }
.logo {
    font-family: 'Fredoka One', cursive;
    margin-left: 20px;
    
}   
a{
    text-decoration-line: none;
    color: white;

}
a:hover{
    color: white;
}
.na a{
    font-size: 13px;
}
.ft1 {
    margin-left: 20px;
    float: left;
    margin-left: 700px;
    text-align: justify;
    padding-right: 50px;
}
.ft2{
    margin-right: 500px;
    text-align: justify;
}
.img4{
    position: relative;
}
