body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    /*background-color: rgb(210, 229, 255);*/
}
.mmain{
  /*background-image:url("/resources/images/bg.jpg");*/
   padding-top: 20px;
   height: 890px;
}
#main {
    text-align: center;
    font-size: 1.5em;
    margin-top: 200px;

}

#qna{
    display: none;
    
    border-radius: 30px;
    
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;}
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;}
}
.qBox {
    font-size: 1.8em;;
    font-weight:bold;
  /*  background-color: white;*/
    text-align: center;
    border-radius: 5px;
    width: 80%;
    
}
.answerList {
   font-size: 1.3em;
   font-weight: bold;
   background-color: #ffec66;
   display: block;
   width: 100%; 
   border-radius: 20px;
   border: 0px;
   width: 50%;

}
.answerList:hover, .answerList:focus {
    background-color: rgb(243, 243, 243);
}
.fadeIn {
    animation: fadeIn;
    animation-duration: 0.5s;
}
.fadeOut {
    animation: fadeOut;
    animation-duration: 0.5s;
}
.status {
    height: 30px;
    width: 80%;
  /*  background-color: rgb(255, 255, 255);*/
    background-color:rgb(252, 252, 252);
    border-radius: 20px;
    
}
.statusBar {
    height: 100%;
    background-color: #ffdd00;
    border-radius: 20px;
}
   
#result{
  display: none;
  width: 100%;
  text-align: center;
}
#shareResult{
  width: 100%;
  text-align: center;
}
.resultname{
  font-size: 26px;
}

.resultDesc{
  font-size: 20px;
}

.header{
    width:auto;
    display:flex;
    height: 86px;
   }
   
   .header h2 {
    margin-top: 20px;
    color: navy;
    font-weight: bold;
   }
   
   .nav{
   display: flex;
   justify-content: flex-end;
   /*width:calc(1200px - 30px);*/
   line-height: 86px;
   margin-left: 515px;
   
   }
   .nav > li {
   margin-left:60px;
   list-style: none;
   
   }
   
   .nav > li > a {
   color:black;
  
   }
   .nav > li > a:hover{
       color: rgb(136, 136, 136);
   }
.logo {
    font-family: 'Fredoka One', cursive;
    margin-left: 20px;
    
}   
a{
    text-decoration-line: none;
    color: white;

}
.btn1{
  font-weight:bold;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 75px;
  background-color: #262626;
  border: 3px solid #fff;
  border-radius: 75px;
  text-decoration: none;
  text-align: center;
  line-height: 75px;
  font-size: 28px;
  color: #fff;
  transition: .5s;
}

.btn1:hover{
  color: #262626;
}

.btn1:before{
  content: '';
  position: absolute;
  top: -0.1%;
  left: -0.1%;
  border-radius: 75px;
  background-color: #fff;
  width: 101%;
  height: 101%;
  z-index: -1;
  transition: .5s;
  transform: scale(0);
}

.btn1:hover:before{
  color: #262626;
  transform: scale(1);
}
.kakao{
	font-weight:bold;
	color:#000000 85%;
	background-color: #FEE500;
	font-size: 20px;
	border:0px;
	border-radius: 12px;
}

    